<ion-view view-title="Dashboard">
  <ion-content scroll="false" style="width: 100%; height: 100%;">
    <div class="controller">
    	<div class="controller-body">
    		<div class="d-pad-circle">
    			<div class="d-pad-vert">
    				<div class="top arrow"></div>
    				<div class="d-pad-middle-circle"></div>
    				<div class="bottom arrow"></div>
    			</div>
    			<div class="d-pad-hor">
    				<div class="left arrow"></div>
    				<div class="right arrow"></div>
    			</div>
    		</div>
    		<div class="button-circle">
    			<div class="button-group top">
    				<div class="blue action press">

    				</div>
    				<div class="green action press">

    				</div>
    			</div>
    			<div class="button-group bottom">
    				<div class="yellow action press">

    				</div>
    				<div class="red action press">

    				</div>
    			</div>
    		</div>
    		<div class="select-button">
    			<div class="diag-button press">

    			</div>
    		</div>
    		<div class="start-button">
    			<div class="diag-button press">

    			</div>
    		</div>
    		<div class="logo">
    			<div class="icon">
    				<div class="top set"></div>
    				<div class="bottom set"></div>
    			</div>
    			<div class="text">
    				<span class="main">SUPER NINTENDO</span>
    				<span class="sub">ENTERTAINMENT SYSTEM</span>
    				<span class="sub-bg"></span>
    			</div>
    		</div>
    	</div>
    	<div class="lb bumper press" data-sound="scroll">
    	</div>
    	<div class="rb bumper press" data-sound="scroll"></div>
    	<div class="controller-shine"></div>
    </div>

    <div virtual-joystick style="height: 100%; width: 100%; position: relative">test</div>
  </ion-content>
</ion-view>
