<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="/assets/components/ionic/release/css/ionic.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">

    <script src="/assets/components/ionic/release/js/ionic.bundle.min.js"></script>
    <script src="/assets/lib/virtual-joystick/virtual-joystick.js"></script>
    <script src="/assets/build/js/main.js"></script>
  </head>

  <body ng-app="contropad.app">
    <ion-content scroll="false">
      <ion-nav-view></ion-nav-view>
    </ion-content>
  </body>
</html>
