
@import './controller/snes';

.dashboard .button {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  width: 100%;
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #f7f7f7;
  text-align: center;
}
